<!DOCTYPE html>
<html>
<head>
  <title>Ahalist</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
  <h1>Aha!List</h1>
  <% if session[:uid] %>
    <p><%= link_to "Sign Out", signout_url %></p>
    <% else %>
    <p><%= link_to "Sign In", signin_url %></p>
  <% end %>
</div>
<p><%= notice %></p>


<%= yield %>

</body>
</html>
